Source: yockgen01
Section: non-free/graphics
Priority: optional
Maintainer: yockgen <yockgen@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/yockgen/

Package: yockgen01
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: yockgen Demo Debian Package.
